body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/3273883-onda-azul-fundo-papel-de-parede-gratis-vetor.jpg);
    background-size: cover;
}

.cards{
    display: flex;
    gap: 6.8rem;
    margin-top: 2%;
    margin-left: 1%;
}

.inicial img{
    margin-top: 1.5rem;
    margin-left: 21%;
    width: 900px;
    border-radius: 5rem;
}

.inicial h1{
    text-align: center;
    color: aliceblue;
}

.inicial p{
    text-align: center;
    color: aliceblue;
}

